<div class="form-frame login-register-page">

  <div class="row text-center register-or-login-main">
    <div class="col-12 col-sm-6 register-or-login-other">
      <a routerLink="/login">Login</a>
    </div>
    <div class="col-12 col-sm-6 register-or-login-selected">
      <a routerLink="/register">Register</a>
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-or-register-form">
    <div class="form-group">
      <label for="userName"></label>
      <input formControlName="userName"  class="form-control custom-login" [ngClass]="{'invalid-input': !registerForm.value.userName}" id="userName" placeholder="user name">
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input formControlName="email" class="form-control custom-login" [ngClass]="{'invalid-input': !registerForm.value.email}" id="email" placeholder="email">
    </div>
    <div class="form-group">
      <label for="mobile"></label>
      <input formControlName="mobile" class="form-control custom-login" [ngClass]="{'invalid-input': !registerForm.value.mobile}" id="mobile" placeholder="mobile">
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input formControlName="password" class="form-control custom-login" [ngClass]="{'invalid-input': !registerForm.value.password}" id="password" placeholder="password">
    </div>
    <div class="form-group">
      <label for="confirm_password"></label>
      <input formControlName="confirmPassword" class="form-control custom-login" [ngClass]="{'invalid-input': !registerForm.value.confirmPassword}" id="confirm_password" placeholder="confirm password">
    </div>
    <div class="btn-box">
      <button [disabled]="registerForm.status !=='VALID' || !registerForm.value.userName ||
            !registerForm.value.password || !registerForm.value.confirmPassword" type="submit" class="btn btn-primary login-btn">Submit</button>
    </div>
  </form>
</div>
