<div class="form-frame login-register-page">

  <alert type="danger" *ngIf='errorMessage'>
    <strong>{{errorMessage.message}} </strong>
  </alert>

  <div class="row text-center register-or-login-main">
    <div class="col-12 col-sm-6 register-or-login-selected">
      <a routerLink="/login">Login</a>
    </div>
    <div class="col-12 col-sm-6 register-or-login-other">
      <a routerLink="/register">Register</a>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-or-register-form" [ngClass]="{'loading-form': loading}">
    <div class="form-group">
      <label for="userName"></label>
      <input type="email" formControlName="userName" class="form-control custom-login" id="userName" placeholder="user name">
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input type="password" formControlName="password" class="form-control custom-login" id="password" placeholder="password">
    </div>
    <div class="btn-box">
      <button *ngIf="!loading" [disabled]="!loginForm.value.password || !loginForm.value.userName || loginForm.status!=='VALID'" type="submit" class="btn btn-primary login-btn">Submit</button>
      <button *ngIf="loading"  disabled type="submit" class="btn btn-primary login-btn">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </form>
</div>

