/* You can add global styles to this file, and also import other style files */
.form-frame {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}
.product-name {
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: -1px 1px 10px lightblue;
  font-family: 'Rokkitt', sans-serif;
  /*height: 45px;*/
}
@media only screen and (max-width: 575px) {
  .product-name {
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: -1px 1px 10px lightblue;
    /*height: 45px;*/
  }
}

.navbar-custom {
  position: absolute;
  right: 40px;
}

@media only screen and (max-width: 640px) {
  .navbar-custom {
    position: static;
  }
}
/*.product-name:after {*/
  /*content: "x";*/
  /*position: absolute;*/
  /*right: 5px;*/
  /*color: cadetblue;*/
  /*font-size: 1.6rem;*/
  /*box-sizing: border-box;*/
/*}*/
.product-description {
  /*position: relative;*/
  /*left: 10px;*/
  /*font-size: 1.2rem;*/
}
.product-card:hover .product-description,
.product-card:hover .product-image {
  /*box-shadow: -10px 10px 10px cadetblue;*/
  border-radius: 15px;
  margin-top: 3px;
}
.product-price {
  /*margin: 1rem;*/
  /*font-size: 1.2rem;*/
  margin-bottom: 10px;
}
.product-rating {
  color: #FFB656;
  /*margin: 1rem;*/
}
.product-add-to-card {

}
.product-description {
  /*box-shadow: -10px 10px 10px lightblue;*/
  border-radius: 15px;
  margin-top: 3px;
  font-size: 1.1rem;
}

.product-image {
  /*box-shadow: -10px 10px 10px lightblue;*/
  border-radius: 15px;
  margin-top: 3px;
  width: 20vw;
}
.image-product-details {
  width: 100%;
  /*box-shadow: 2px 2px 2px lightslategrey;*/
  margin: 1rem;
  border-radius: 6px;
}
.product-details-container {
  box-shadow: 3px 4px 5px 8px rgba(255, 255, 255, 0.3);
  /* margin: 15px 0 0 0; */
  border-radius: 10px;
  margin-top: 10px;
}
.images-container {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
@media only screen and (max-width: 575px) {
  .product-image {
    /*box-shadow: -10px 10px 10px lightblue;*/
    border-radius: 15px;
    margin-top: 3px;
    width: 100%;
  }
}
.sm-screen-product-divider {
  width: 100%;
  border-top: 3px solid lightblue;
  box-shadow: 0 3px lightblue;
  margin: 0.5em 0 0.5em 0;
}
.submit-order-form {
  margin: 1em 0 1em 0;
}
app-root + .loading {
  display: none;
}
/** LOGIN & REGISTER PAGE **/
.login-register-page {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #ffffff, rgba(52, 152, 219, 0.8)), url("/assets/images/electronics_background.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  /*clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);*/
}


@media only screen and (max-width: 975px) {
  .login-or-register-form {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    position: relative;
    top: 15%;
    padding: 0 10% 0 ;
  }

  .register-or-login-main {
    position: relative;
    top: 10vh;
    padding: 0 12% 0;

  }

}

@media only screen and (min-width: 975px) {
  .login-or-register-form {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    position: relative;
    top: 15%;
    padding: 0 30% 0 ;
  }

  .register-or-login-main {
    position: relative;
    top: 10vh;
    padding: 0 31% 0;

  }
}

@media only screen and (max-width: 975px) {
  .login-or-register-form {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    position: relative;
    top: 15%;
    padding: 0 20% 0;
  }

  .register-or-login-main {
    position: relative;
    top: 10vh;
    padding: 0 21% 0;

  }
}

.register-or-login-selected {
  letter-spacing: 10px;
  background-color: darkseagreen;
  border-radius: 2px;
}
.register-or-login-other {
  letter-spacing: 10px;
  border: 1px solid darkseagreen;
  border-radius: 2px;
}
.register-or-login-selected a,
.register-or-login-other a
{
  color: #ffffff;
  font-size: large;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.custom-login {
  /*box-shadow: 0 5px 10px rgba(52,152,219, 0.8);*/
  background-image: linear-gradient(to right bottom, #ffffff, rgba(52, 152, 219, 0.25));
  border: 1px solid #fff;
}

.invalid-input{
  /*border-color: cadetblue;*/
  border-color: #FFFFFF;
}

.btn-box {
  text-align: center;

}
.login-btn {
  padding: 5px 50px;
  margin: 20px;
  transition: all .4s;
  min-width: 194px;
}
.login-btn:hover {
  transform: translate3d(1px, 1px, 1px);
  /*box-shadow: 0 5px 10px rgba(52,152,219, 0.8);*/
}
@media only screen and (max-width: 460px) {
  .login-btn {
    min-width: unset !important;
    margin: 20px 0 20px;
    padding: 5px;
    width: 100%;
  }
}
.loading-form {
  opacity: 0.5;
}
.login-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.login-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  background-color: #fff;
  opacity: 0;
}
/** END: LOGIN & REGISTER PAGE **/
.default-page-background {
  background-image: linear-gradient(to right bottom, #ffffff, rgba(52, 152, 219, 0.8)), url(/assets/images/electronics_background.png);
  min-height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}
.chevron-left {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.55em;
  position: relative;
  top: 0.5em;
  vertical-align: top;
  width: 0.55em;
  left: -0.7em;
  transform: rotate(-135deg);
}
.chevron-right {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.55em;
  position: relative;
  top: 0.5em;
  vertical-align: top;
  width: 0.55em;
  left: 0.7em;
  transform: rotate(45deg);
}
.add-to-cart {
  margin: 2em 0 1em;
}

.limit-stock-message {
  display: inline-block;
  margin: 10px 0 10px;
  position: absolute;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  color: palevioletred;
  top: 20px;
  left: -40px;
}
.input-number-of-items {
  width: 30px;
  border-radius: 20%;
  border: solid 1px lightskyblue;
  text-align:center;
}
